* {
    font-family: Tahoma;
    padding: 0px;
    margin: 0px;
}

/* relative */
/* absolute */
/* fixed */

h1, h2, h3, h4, h5, h6 {
    display: inline;
    /* visibility: hidden; */
    /* display: none; */
    /* opacity: 0.09; */
}

h1 {
    /* border: 5px dotted fuchsia;
    color: green;
    */
    text-align: right;
    text-decoration: overline;
    text-transform: capitalize;
}

#navigation {
    border: 2px solid green;
}

.nav-item {
    padding: 2px;
    margin: 2px;
    border: 1px ridge brown;
}

nav {
    position: fixed;
    top: 50%;
    left: 50%;
    /* z-index: 1; */
    /* transform: translate(-50%, -50%); */
}



body {
    width: 100%;
}

.moving {
    position: relative;
    /* bottom: -10px; */
    top: 100px;
    left: 100px;
    /* right: 25px; */
}

a {
    color: steelblue;
    display: block;
}

a:visited {
    color: red;
}

a:hover, a:active {
    color: hotpink;
    background-color: black;
    cursor: wait;
}

p:hover {
    cursor: wait;
}

/* li:first-child {
    background-color: black;
    color: red;
} */

li:nth-child(3) {
    background-color: black;
    color: red;
}

p::first-line {
    background-color: blue;
}

p::first-letter {
    background-color: brown;
}

/* a:active {
    color: darkorange;
} */

/* 1. Relative: container moves relative to its original position */
/* 2. Absolute: container moves relative to its positioned ancestor */

/* Absolute - element is positioned relative to its closest positioned ancestor */

.rel {
    height: 250px;
    width: 250px;
    border: 2px solid green;
    position: relative;
    top: 20px;
    left: 250px;
    padding: 50px;
}

.nopos {
    border: 2px solid yellow;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.abs {
    height: 75px;
    width: 100px;
    border: 2px solid red;
    position: absolute;
    left: 10px;
    top: 10px;
}

p {
    text-indent: 50px;
    letter-spacing: 2px;
    line-height: 1.5;
    word-spacing: 15px;
    text-shadow: 4px 4px 4px black;
    width: 75%;
    max-width: 500px;
    min-width: 400px;
    height: 100px;
    padding: 15px 25px 35px;
    margin: 0 auto;
    /* overflow: auto; */
    overflow-x: auto;
    overflow-y: scroll;
    /* margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px; */
    border: 5px solid blue;
    color: rgb(255, 255, 255);
    /* background-color: rgb(15, 155, 155); */
    background-color: #6F9B0B;
}

h6 {
    color: red;
}
